* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: hsl(30, 54%, 90%);
}

/* Utility */

.bold {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
  font-family: 'Outfit';
}
body {
  background: var(--body-background); 
  line-height: 1.6;
 /*  Stone 100: hsl(30, 54%, 90%)
  - Stone 150: hsl(30, 18%, 87%)
  - Stone 600: hsl(30, 10%, 34%)
  - Stone 900: hsl(24, 5%, 18%); */
}

.container {
  background: white;
  padding: 20px;
  max-width: 1100px;
  margin: 30px auto;
  border-radius: 15px;
}

.img-container {
  width: 100%;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

ul {
  padding-left: 20px;
  padding-bottom: 20px;

}

ul li {
  padding-left: 20px;
}

ul {
  margin-bottom: 25px;
}

li::marker {
font-size: 12px;
}

ol {
  margin-bottom: 40px;
}
ol li {
  margin-bottom: 15px;
  padding-left: 20px;

}

ol li::marker {
  color: brown;
  font-size: 1.2rem;
  font-weight: 800;
}

main {
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Young Serif', sans-serif;
}

.prep-time {
  background: hsla(30, 54%, 90%, 0.3);
  border-radius: 10px;
  /* Stone 100: hsl(30, 54%, 90%)
  - Stone 150: hsl(30, 18%, 87%)
  - Stone 600: hsl(30, 10%, 34%)
  - Stone 900: hsl(24, 5%, 18%); 
  Brown 800: hsl(14, 45%, 36%)*/
}
.outfit-font {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  color: hsl(332, 51%, 32%);
  /* Rose 800: hsl(332, 51%, 32%)
- Rose 50: hsl(330, 100%, 98%) */
}


p {
  font-size: 1rem;
  margin: 20px 0;
  word-spacing: 1.5px;
}

h2 {
  font-family: 'Young Serif', sans-serif;
  margin: 20px 0;
  color:  hsl(14, 45%, 36%);
  font-size: 1.8rem;

}

/* Nutrition */

section:last-of-type h2 {
  font-weight: 500;
  margin-top: 30px;
  
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.568);

}

.flex-container:last-child {
  border-bottom: none;
}

.flex-item {
flex: 1;
}

@media (max-width: 768px ) {
  
  .container {
    margin: 0;
    line-height: 1.3;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-left: 30px;
  }
  
  p {
    font-size: 20px;
    
  }

  .img-container {
    width: 106%;
    margin-left: -25px;
    margin-right: -25px;
  }
  h1 {
    color: green;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .outfit-font {
    font-size: 1.2rem;
  }
}